export(rglwidget, renderRglwidget, rglwidgetOutput,
       rglcontroller, renderRglcontroller, rglcontrollerOutput,
       subsetControl, propertyControl, ageControl, vertexControl,
       ageSetter, par3dinterpSetter, propertySetter, vertexSetter,
       writeWebGL2, setupKnitr2)
import(htmlwidgets)
importFrom(rgl, scene3d, points3d, axis3d, box3d, open3d, rgl.set, rgl.close,
           subdivision3d, octahedron3d, par3d,
           rgl.cur, rgl.snapshot, rgl.postscript,
           snapshot3d, rgl.useNULL)
importFrom(htmltools, includeScript, tags)
importFrom(jsonlite, toJSON)
importFrom(knitr, fig_path, hook_plot_custom, image_uri, knit_hooks, opts_knit)
